@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --brand: #275c3c;
  --darkest: #0f172a;
  --dark: #27375e;
  --mid: #abb8c9;
  --light: #e1e6eb;
  --lightest: #ffffff;
}

@media (prefers-color-scheme: dark) {
}

body {
}

button  {
  cursor : pointer;
}
